body {
	font-family: "Arial";
}

.centered {
	text-align: center;
}

.flex {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-evenly;
  align-content: space-evenly;
  row-gap: 20px;
  
  padding: 0px;
  margin: 10px;
  list-style: none;
}

.inner {
  color: black;
  border-width: 20px;
  border-color: "black";
}

#p {
	font-size: 12px;
  width: 500px;
  overflow-wrap: normal;
  padding: 20px;
}

.thing {
  color: black;
  border-style: solid;
  border-width: 5px;
  border-color: "black";
  border-radius: 5px;
}

.purple-switch:hover {
  fill: purple;
}

.orange-switch:hover {
  fill: orange;
}

.center {
    width: 100%;
    text-align: justify;
}

.child {
    width: 16%;
    display: inline-block;
    vertical-align: center;
}

.acknowledgements {
  display: table;
  margin: 0 auto;
}